/* Importando fonte externa via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Fonte personalizada */
@font-face {
  font-family: 'maiden';
  src: url('fonte/maiden.ttf');
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #282B62;
  font-family: 'Inter', sans-serif;
}

/* Container principal */
.main {
  background-image: url('imagens/background.png');
  background-position: center;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-container {
  color: #FFFFFF;
}

.person-container__img {
  width: 120px;
  border-radius: 50%;
  border: 8px solid #FFD701;
  margin-bottom: 24px;
}

.person-container__name {
  font-size: 40px;
  margin-bottom: 8px;
  font-family: 'maiden';
}

.person-container__title {
  font-size: 16px;
  margin-bottom: 40px;
}

.info-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.info-box {
  width: 340px;  
  height: 180px;
  padding: 24px;
  background-color: #FFD701;
  border-radius: 32px;
}

.info-box__title {
  font-family: 'maiden';
  font-size: 24px;
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.contact-container__link {
  background-color: #13121A;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.contact-container__icon {
  width: 32px;
}